body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5; /* SPACE BETWEEN EACH ROW*/
    /* CTRL + K + U TO GENERATE COMMENT SHORTCUT */
    /* SAMMA DEKLARATION SOM UPPÅT */
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    
}

/* Global */
.container{
    width: 80%; /*SÄTTER DEN PÅ % FÖR ATT DEN SKA VARA RESPOSIVT*/
    margin: auto;  /*ALLA INNEHÅLLET FLYTTAR MOT CENTRUMET*/
    overflow: hidden; /* The overflow is clipped, and the rest of the content will be invisible*/
}

.s{
    width: 80%; /*SÄTTER DEN PÅ % FÖR ATT DEN SKA VARA RESPOSIVT*/
    margin: auto;  /*ALLA INNEHÅLLET FLYTTAR MOT CENTRUMET*/
    overflow: hidden; /* The overflow is clipped, and the rest of the content will be invisible*/
}


ul{
    margin: 0;
    padding: 0;
    
}

.button_1{
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}



/* Header */
header{
    background: #35424a;
    color: #ffff; 
    padding-top: 30px;
    min-height: 70px; /*När det är responsivt och skärmen är små och texten går mot andra radden, heigth ska anpassas.*/
    border-bottom: #e8491d 3px solid;
    
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

header a{
    color: #ffffff;
    text-decoration: none; /* Länkar har ett understreck automatiskt, det tas bort understrecken! */
    text-transform: uppercase;
    font-size: 16px;
}


header li{
    display: inline;
    padding: 0 20px 0 20px;
   
}

header #brand{
    float: left;
}

header #brand h1{
    margin: 20px; 
}


header nav{
    float: right;
    margin-top: 10px;
}

header .highlight{
    color: #e8491d;
    font-weight: bold;
}

header a:hover{
    color: #e8491d;
    font-weight: bold;
}



/* SHOWCASE */ /* SHOWCASE */ /* SHOWCASE */ /* SHOWCASE */ /* SHOWCASE */ /* SHOWCASE */

#showcase{
    min-height: 475px;
    background:url('../img/Shoe_banner.jpg ') no-repeat 0 -400px;
    
    text-align: center;
    color: #ffffff;
    
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px; 
}
/* SHOWCASE */ /* SHOWCASE */ /* SHOWCASE */ /* SHOWCASE */ /* SHOWCASE */ /* SHOWCASE */

/*Newsletter*/ /*Newsletter*/ /*Newsletter*/ /*Newsletter*/ /*Newsletter*/
#newsletter{
    padding: 15px;
    color: #ffffff;
    background: #35424a;
}

#newsletter h1{
    float: left;
}


#newsletter form{
    float: right;
    margin-top: 20px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 35px;
    width: 250px;

}

#newsletter .container .button_1:hover{
    background: #11ff45;
}
/*Newsletter*/ /*Newsletter*/ /*Newsletter*/ /*Newsletter*/ /*Newsletter*/

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: center;

}

.flex-container  div{
    margin: 30px 100px 0 50px;
}

.pic-margin-down{
    padding: 20px
}


/* CONTACT PAGE */ /* CONTACT PAGE */ /* CONTACT PAGE */ /* CONTACT PAGE */
#boxes-contact .container-contact{
  
    margin:auto;
    display: inline;
    
    text-align: center;
    color: #35424a;
    border: #35424a;
}

input[type=text], select, textarea {
    
    width: 65%;
    margin: auto;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    
  }

  #country{

    margin-left: 20px;
  }
  #subject{
    margin-left: 20px;
  }

  .container-contact #subject-label{
    top: 200px;
  }
  
  input[type=submit] {
      
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
  }
  
input[type=email]{
    width: 65%;
    margin: auto;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    margin-left: 25px;
}

  input[type=submit]:hover {
    background-color: #45a049;
  }

  #boxes-contact .container-contact subject-label{
    align-content: center;
 }

.container-contact submit{
    align-content: center;
}

/* CONTACT PAGE */ /* CONTACT PAGE */ /* CONTACT PAGE */ /* CONTACT PAGE */

/* GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY*/
.style-boot{

margin-left: 30%;
width: 10%;
}

.style-boot-top{
    margin-top: 55%;
}



#boxes .container-fluid{
    margin-bottom: 50px;
    margin-left: 50px;
    margin-top: 50px;
    position: relative;
}


/* GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY*/

/* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT */
.container-about  p{
   
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 80%;
    text-align: center;
    margin-left: 7%;

}
.container-about  h2{
   
    color: #ffffff;
    text-align: center;

}

#body-about{
    background: #35424a;
}


.container-about{
    border-top: #e8491d 3px solid;
}
/* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT */


footer{
    background: #35424a;
    width: 100%; 
    height: 100%;
    position: relative;
    min-height: 70px; /*När det är responsivt och skärmen är små och texten går mot andra radden, heigth ska anpassas.*/
    border-top: #e8491d 6px solid;
    display: inline-block;
}

footer .container #copyright p{
    position: absolute;
    text-align: center;
    left: 650px;
    top: 100px;
    color: #ffffff;
}

.container #logo img{
    position: relative;
    left:75%;
    padding: 10px;
}

.container #logo-frame{
    position: absolute;
    left: 70px;
    top: 10px;
}

#address{
    position: absolute;
    color: #ffffff;
    left: 650px;
}


